*{
    box-sizing: border-box;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header_container{
    max-width: 1280px;
    margin-left: 98px;
}
.title{
    margin-top: 63px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}
.title_span{
    color: #00daff;
}
.header_nav_list{
    margin-left: 98px;
    margin-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1280px;
    height: 72px;
    background: #35444F;
    border: 1px solid white;
}
.header_nav_item a{
    color: white;
}
.header_nav_item{
    padding: 22px 33px 19px 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header_nav_item:hover{
    background: #222F3A;
}
.main_container{
    display: flex;
    margin-top: 48px;
    margin-left: 98px;
}

aside{
    border: 1px solid black;
}
.main_nav_item{
    padding: 20px 30px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    text-align: start;
    white-space: nowrap;
}
.main_nav_item a {
    color: #485863;
}

.main_nav_item:hover {
    background: #dbdbdb;
    text-align: center;
    color: black;
}
.main_nav_item a:hover {
    color: black;
}
.img {
    margin-left: 52px;
    padding: 75px 268px 73px 297px;
    border: 1px solid black;
}
.scale{
    transition: 2s;
}
.scale:hover{
    transform: scale(1.3);
}
.articles{
    margin-left: 416px;
    max-width: 885px;
    margin-top: 38px;
}
.article{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer_nav{
    margin-left: 100px;
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 1280px;
    height: 72px;
    background: rgba(99, 105, 110, 0.48);
}
.footer_nav_item{
    padding: 22px 22px 19px 22px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    white-space: nowrap;
}
.footer_nav_item a{
    color: #0C1927;
}
.footer_nav_item a:hover{
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}
#copyright{
    margin-left: 20px;
    padding: 22px 22px 19px 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
}